In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('IPLSheet1.csv')

In [6]:
df.head()

    TV Mobile Watch IPL
0  Yes     No       Yes
1  Yes    Yes       Yes
2   No    Yes       Yes
3   No     No        No

In [7]:
train = df[['TV','Mobile']]

In [9]:
train.head()

    TV Mobile
0  Yes     No
1  Yes    Yes
2   No    Yes
3   No     No

Encode Values

In [10]:
train_encoded = pd.get_dummies(train)

In [11]:
train_encoded.head()

   TV_No  TV_Yes  Mobile_No  Mobile_Yes
0      0       1          1           0
1      0       1          0           1
2      1       0          0           1
3      1       0          1           0

In [12]:
target = df['Watch IPL']

In [13]:
target

0    Yes
1    Yes
2    Yes
3     No
Name: Watch IPL, dtype: object

In [15]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0,criterion='entropy')

In [16]:
clf.fit(train_encoded,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [17]:
d = {'TV': ['No', 'Yes'], 'Mobile': ['No', 'Yes']}
df_sample = pd.DataFrame(data=d)

In [18]:
df_sample.head()

    TV Mobile
0   No     No
1  Yes    Yes

In [19]:
df_sample_encoded = pd.get_dummies(df_sample)

In [20]:
df_sample_encoded

   TV_No  TV_Yes  Mobile_No  Mobile_Yes
0      1       0          1           0
1      0       1          0           1

In [21]:
clf.predict(df_sample_encoded)

array(['No', 'Yes'], dtype=object)

In [ ]:
# from sklearn import tree

In [ ]:
# fn=df.columns
# cn=['Yes','No']
# tree.plot_tree(clf,feature_names = fn, 
#                class_names=cn);